body {
background-color: #f3f3f3;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
}

.container1 {
    width: 100%;
    min-height: 1px;
 }

 *,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
}

 h1,h2,h3,h4,h5 {
    margin: 0;
    
}
a {
    margin: 0;
}
img {
    display: block;
    width: 100%;
 }
 .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    min-height: 1px;
}

.header1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 20px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-left: 70px;
}

.nav {
    text-transform: uppercase;
    margin-right: 60px;
    
}

.nav_link {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin: 0 14px;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #fce38a
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
   width: 100%; 
   height: 100vh;
   background: url("https://www.estudiohispanico.com/media/cache/header_slide/uploads/images/2021/01/14/6881610634870_2021-01-14-14-34-30.jpg") center no-repeat; -webkit-backdrop-size : cover ;
   background-size: cover;
  
   
}



.form {
position: fixed;
top: 50%;
left: 50%;
width: 300px;
transform: translate(-50%,-50%);
background-color: #fff;
padding: 20px;
display: grid;
row-gap: 20px;
border-radius: 10px;
box-shadow: 4px 4px 20px #ccc;
}

.form > input,
.form > button {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    outline: none;
}
.form > button:hover {
    background-color:  #ccc;
    cursor: pointer;
}
