<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/front/css/back.css">
        <title>Форма добавления новостей</title>
    </head>
    <body>
        <h3>Форма добавления новостей</h3>
        <div class="form">
            <input type="text" name="Title" class="inpt" placeholder="Введите название статьи"/><br>
            <textarea name="Anons" class="form-control" placeholder="Введите анонс статьи"></textarea>
            <textarea name="Full" class="form-control" placeholder="Введите текст статьи"></textarea>
            <button style="margin-left: 45px;" type="submit" class="btn btn-danger" onclick="Edit()">Добавить</button>  
            <script src="/assets/js/zayavka.js"></script>
          </div>
    </body>
</html>