<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/uch.css">
  <title>Об учреждении</title>
</head>
<body>
    <header class="header">
<div class="container">
<div class="header_inner">
    <div class="logo">Espanola</div>
    <nav class="nav">
        <a class="nav_link" href="/">Главная</a>
    </nav>
</div>
</div>
</header>
<div class="intro">
    <div class="intro_inner">
        <div style=" margin-top: 440px;">
            <h2 style="position: relative;">История школы</h2>
            <p style="  font-family: Times; font-size: 20px;">
              Идея открыт школу английского языка возникла в начале 2021 года. Но была мечтой всей моей жизни.
              К 1 сентябрю 2021 года идея реализовалась и сначала  нового учебного года  школа приняла первых своих учеников.
              На данный момент в школе преподают 2 преподавателя и обучается 24 ребёнка, 10 подростков и 15 взрослых.
              Занятия проводятся как в оффлайн, так и в онлайн режиме; индивидуально и в мини-группах.      
              <img class="photo" style="position: relative;width: 300px; height: 211px;margin-top: 30px; left: 30%;" src="https://sun9-24.userapi.com/impg/TslVPHiriDTVypm3lpR5Wcu5UKk35mTyxXsIfw/dP5xUA2rAo8.jpg?size=800x566&quality=96&sign=da5c1b861d95457fb4b1e2d702ddd6e3&type=album">
            </div> 
              <div style="position: relative;top: -250px; left: -50%;" >
              <h2 style="position: relative;margin-right: 540px;font-size: 27px;">Партнеры</h2>
              <img class="photo" style="position: relative;width: 177px; height: 100px;top: 20px; left: 9%;" src="https://sun9-9.userapi.com/impg/zE0sHHbHZNrlecluv4s55ZyHyoXWz5y6n7C7Ag/aov2LzyQpXc.jpg?size=337x190&quality=96&sign=2cc3eca707a5231cb02ca2a6d2884a46&type=album">
              <img class="photo" style="position: relative;width: 177px; height: 100px;top: 30px; left: 9%;" src="https://sun9-16.userapi.com/impg/zBEZPKyytd9vn8Cf_CyCkK2wx2Bkz6dQEh8H-Q/5J1gJ3p8d_k.jpg?size=250x141&quality=96&sign=5b82bd2a3878c518c9820ce31be190cc&type=album">
              <img class="photo" style="position: relative;width: 177px; height: 100px;top: 40px; left: 9%;" src="https://sun9-2.userapi.com/impg/M7kzxa5zUf1jNqNFkBj4cAbgfq_V4VQwKkwHSg/yDe6f-SSYzM.jpg?size=1929x1085&quality=96&sign=fe9cd6e34fdec3dcf0176f091b380bbc&type=album">
              </div>
              <div style="position: absolute;top: -10px; left: 64%;" >
                <h3  style="position: relative;top: 250px; left: 27%;font-size: 23px;">Устав и Правила внутреннего распорядка</h3>
                <a  style="position: relative;top: 250px; left: 45%;" href="http://localhost/file/ustav.docx" target="_blank">Устав</a>
                <a  style="position: relative;top: 300px; left: 18%;" href="http://localhost/file/pvr.docx" target="_blank">Правила внутреннего распорядка</a>
                </div>
                
             
          <div style="position: relative;bottom: 250px; left: 0%;">
            <h2  >Успешные ученики</h2>
            <div >
              <h3 style="position: relative">Пронина София </h3>
              <p style="  font-family: Times; font-size: 20px;">
                Ученица 5 класса, 11 лет.
                Сдала Кэмбриджский экзамен Movers, получила максимальный результат по всем навыкам - Чтение и Письмо, Аудирование и Говорение.
                Данный результат приравнивается к уровню А2 по Общеевропейской шкале языковой компетенции (CEFR) Совета Европы.
          </p>
            </div>
            
            <div style="margin-top: 15px;">
              <h3 >Ефремова Евгения</h3>
              <p style="  font-family: Times; font-size: 20px;">
                Ученица 11 класса, 17 лет.
                Принимала участие в олимпиаде Российской академии народного хозяйства и государственной службы при президенте РФ (РАНХиГС), стала призёром и получила диплом 2ой степени, что дало Евгении право поступить в Академию вне конкурса.
          </p>
       
            </div>
          </div>
     
          </div>
</div>
<div style="background-color: #f7903c">
 
    <p style=" font-family: Times; position: relative; font-size: 16px;"> Школа Английского Языка</p>
    <p style=" font-family: Times; position: relative; font-size: 16px;"> Адрес:   Россия, Г. Липецк, Кривенова д.29</p>
    <p style=" font-family: Times; position: relative; font-size: 16px;"> Телефон: 8(960)789-28-35</p>
    <p style=" font-family: Times; position: relative; font-size: 16px;"> Email: eng-school@mail.ru</p>
   </div>
</body>

</html>
